{% load static %}
<html>
    <head>
        <title>Token search site</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body style="text-align: center">
        <div class="header">
            <h1><a href="/" class="main_title">Token Search Engine</a></h1>
        </div>
        <div style="margin-bottom: 70px;">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>