body{
    text-align: center;
    background: #0d1217;
}

table{
    margin: auto;
}

.header{
    background-color: #05625d;
    height: 100px;
    padding-top: 0.1%;
}

.main_title{
    color: azure;
    font-size: 45px;
    font-weight: bold;
}

a:hover{
    color:beige;
}

a{
    color: rgb(164, 224, 252);
}

.results{
    font-weight: bold;
    color: aliceblue;
    margin-top: 3%;
}

.token_title{
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
}

td {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #185f7a;
    color: whitesmoke;
}

th{
    height: 50px;
    width: 200px;
    font-size: 18px;
    background-color: #054057;
    text-align: center;
    color: white;
}

table{
    border: 2px groove white;
}

.negative{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.button_form{
    color:black;
    background-color: darkcyan;
    font-size: 23px;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
}

form{
    padding-top: 2%;
    color: white;
    font-size: 25px;
}
